footer{
    max-width: 100vw;
    height: 100%;
    padding: 6rem 8rem 2rem 8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1096px){
    footer{
        padding: 2rem 4rem 2rem 4rem;
    }
}

@media screen and (max-width: 800px){
    footer{
        padding: 2rem 3.6rem 2rem 3.6rem;
    }
}


footer .top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
    border-bottom: 2px dotted rgba(208, 132, 18, .3);
}

@media screen and (max-width: 800px){
    footer .top{
        padding-bottom: 2rem;
    }
}

footer .top p{
    font-style: italic;
    padding-bottom: 1.4rem;
}

footer .top .location :first-child{
    font-style: normal;
    font-size: 2rem;
    font-weight: bold;
}

@media screen and (max-width: 800px){
    footer .top .location :first-child{
        font-size: 1.4rem;
        font-weight: bold;
    }
}

footer .top .location :last-child{
    font-style: normal;
    font-size: 1.2rem;
}

@media screen and (max-width: 800px){
    footer .top .location :last-child{
        font-size: 1rem;
    }
}

footer .bottom{
    padding-top: 4rem;
    text-align: center;
}

@media screen and (max-width: 800px){
    footer .bottom{
        padding-top: 2rem;
    }
}