.about{
    width: 75%;
    height: 100%;
    /* max-width: 100vw; */
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    margin: 3rem auto;
}

@media screen and (max-width: 1096px){
    .about{
        width: 85%;
        padding: 3rem 0;
    }
}

@media screen and (max-width: 800px){
    .about{
        width: 90%;
        padding: 2rem 0;
    }
}

.about .left, .about .right{
    width: 50%;
    height: 100%;
    margin: auto 0;
}




.about .left :first-child{

    width: 70%;
    margin: 0 auto;
    height: auto;

}

@media screen and (max-width: 1096px){
    .about .left :first-child{
        height: 24rem;
        width: auto;
        margin: auto 0;
    }
}

@media screen and (max-width: 800px){
    .about .left :first-child{
        height: 17rem;
        width: auto;
        margin: auto 0;
    }
}

.about .right{
    width: fit-content;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1096px){
    .about .right{
        height: 24rem; 
        padding-left: 2rem;
    }
}

@media screen and (max-width: 800px){
    .about .right{
        height: 100%; 
        padding: 0;
    }
}



.about .right h3{
    font-family: 'Indie Flower', 'Raleway', 'Montserrat', 'Roboto Condensed', 'Courier New', Courier, monospace;
    font-size: 2.4rem;
    font-weight: bold;
    color: #d49029;
    padding-bottom: 3rem;
}

@media screen and (max-width: 1096px){
    .about .right h3{
        font-size: 2rem;
        padding-bottom: 1.2rem; 
    }
}

.about .right span{
    font-size: 3.2rem;
    font-weight: bolder;
    padding-bottom: 1rem;
}

@media screen and (max-width: 1096px){
    .about .right span{
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 1096px){
    .about .right span{
        font-size: 2rem;
    }
}



.about .right p{
    font-size: 1rem;
    line-height: 2;
    font-weight: 100;
    width: 90%;

}

.video-container{
    width: 100%;
    /* border: 1px solid orchid; */
    overflow: hidden;
    height: 50rem;
    background:  linear-gradient( rgba(26, 26, 26, .3), rgba(26, 26, 26, .3)), url('../../assets/tacos-banner.png');

    /* background: linear-gradient( rgba(26, 26, 26, .5), rgba(26, 26, 26, .5)), url('../../assets/video_bg.jpg');; */
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-container h3{
    color: #d49029;
    text-shadow: 1px 1px 1px #1a1a1a;
    padding-bottom: 2rem;
    font-size: 4rem;
    font-weight: bold;
}

.video-container p{
    color: #ffffff;
    font-size: 2.2rem;
    padding-bottom: 2rem;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #1a1a1a;

}

.video-container img{
    width: 10rem;
    cursor: pointer;
}

.testimonials{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    padding: 8rem 0 2rem 0;
    position: relative;
    /* overflow: hidden; */
}

.testimonials h3, .testimonials span{
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    padding-bottom: 2rem;
    font-family: 'Indie Flower', 'Raleway', 'Montserrat', 'Roboto Condensed', 'Courier New', Courier, monospace;
    color: #d49029;
    
}

.testimonials span{
    font-family: 'Poppins', 'Raleway', 'Montserrat', 'Roboto Condensed', 'Courier New', Courier, monospace;
    font-size: 2.4rem;
    font-weight: bolder;
    color: #1a1a1a;
}

.testimonials .review{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;

}

.testimonials .review p{
    font-size: 1rem;
    font-weight: 100;
    font-style: italic;
    line-height: 2;
    text-align: center;
    padding-bottom: 2rem;
}

.testimonials .review img{
    border-radius: 50%;
    filter: drop-shadow(2px 2px 4px #1a1a1a);
    width: 5rem;
    height: 5rem;
    margin: 0 auto 1rem auto;
}



    