.banner{

    width: 100%;
    height: 100vh;
    z-index: -1;
    background: linear-gradient( rgba(26, 26, 26, .5), rgba(26, 26, 26, .5)), url('../../assets/video_bg.jpg');;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

@media screen and (max-width: 500px){
    .banner{
        height: 60vh;
    }
}

.banner p{
    padding: 5rem 0;
    color: #f9f9f9;
    font-size: 1.8rem;
    transform: translateY(-2rem);
    background-color: #f9f9f9;
    background: url('../../assets/circle.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: contain;
}

@media screen and (max-width: 500px){
    .banner p{
        transform: translateY(-1rem);
        height: 10%;
        padding: 1rem;
    }
}

.banner span{

    color: #f9f9f9;
    font-size: 7rem;
    transform: translateY(-7rem);

}

@media screen and (max-width: 1096px){
    .banner span{
        transform: translateY(-4rem);
    }
}

@media screen and (max-width: 500px){
    .banner span{
        font-size: 2.6rem;
        font-weight: bold;
        transform: translateY(0);
        text-shadow: 1px 1px 5px #1a1a1a;
    }
}

.banner :nth-child(3){
    color: #d49029;
    transform: translateY(-8rem);
}

@media screen and (max-width: 1096px){
    .banner :nth-child(3){
        transform: translateY(-5rem);
    }
}

@media screen and (max-width: 500px){
    .banner :nth-child(3){
        transform: translateY(.5rem);
    }
}

.menu_banner{
    background: linear-gradient( rgba(26, 26, 26, .5), rgba(26, 26, 26, .5)), url('../../assets/3_tacos.jpg');
}

.contact_banner{
    background: linear-gradient( rgba(26, 26, 26, .5), rgba(26, 26, 26, .5)), url('../../assets/tacos_sampler.jpg');
}

.menu_banner, .contact_banner{
    height: 40vh;
    background-position: center ;
    background-size: cover;
}

@media screen and (max-width: 1096px){
    .menu_banner, .contact_banner{
        height: 28vh;
    }
}


.menu_banner p, .contact_banner p{
    transform: translateY(0);
}